# Entorno / secretos
.env
.env.*
!.env.example

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# Streamlit / logs
.streamlit/secrets.toml
*.log



# OS / IDE
.DS_Store
Thumbs.db
.vscode/
.idea/
